.hidden, .template{
	display:none;
}
#upload-panel{
    background-color:#eee;
    height:300px;
}
#login-panel{
    margin-top:10px;
    float:right;
}
#login-panel div{
    float:left;
    margin-right:10px;
}
#login-panel #status{
    font-size:11px;
}
.uk-navbar-nav a{
	cursor:pointer !important;
}
.container{
	display:none;
}
.photo-box{
	padding-bottom:25px;
}
.thumbnail-action i{
  float:right;
  margin-top:10px;
  cursor:pointer;
}
.uk-position-cover{
  cursor:pointer;
}
.uk-modal-dialog{
  margin-top:100px;
  background-color:transparent;
  box-shadow:none;
}
.comments{
  color:black;
  margin-top:5px;
}
.comments .text{
  margin-right:10px;
}
.comments i{
  cursor:pointer;
}
.fb-user{
  margin-right:10px;
  text-decoration:bold;
}
.uk-modal-dialog legend{
  color:black;
}
.uk-modal-dialog .comment-text{
  width:250px;
}
.uk-open .uk-modal-dialog{
  background-color:white;
  padding:20px;
}
.uk-modal-dialog .uk-form{
  margin-top:20px;
}
.uk-thumbnail{
  width:600px;
}