<div class="hidden photo-thumb">
	<span class="fb-user"></span>
</div>
<div class="uk-grid" data-uk-grid-margin="">
	<div class="uk-width-medium-1-2">
	    <div class="uk-panel uk-panel-box friends-moments">
	        <h3 class="uk-panel-title">Friends' Moments</h3>
	        
	    </div>
	</div>
	<div class="uk-width-medium-1-2">
	    <div class="uk-panel uk-panel-box">
	        <h3 class="uk-panel-title">Trending Moments</h3>
	        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
	    </div>
	</div>
</div>