<h1 class="uk-heading-small">My Photos</h1>
<p class="uk-text-large">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
<div class="uk-grid" data-uk-grid-margin="">
  <div class="uk-width-1-1" id="photos-div-conitainer">
    <!--
    <ul class="uk-subnav uk-subnav-pill" data-uk-switcher="{connect:'#switcher-content'}">
        <li class="uk-active" aria-expanded="true"><a href="#">All</a></li>
        <li aria-expanded="false"><a href="#">Logo</a></li>
        <li aria-expanded="false"><a href="#">Web</a></li>
        <li aria-expanded="false"><a href="#">App</a></li>
    </ul>
    -->
    <ul id="switcher-content" class="uk-switcher">
      <li class="uk-active" aria-hidden="false">
        <div id="my-photos-grid" class="uk-grid" data-uk-grid-margin=""></div>
      </li>
    </ul>
  </div>
</div>